$primary: #1C1C45;
$primaryLight: #575E8D;
$secondary: #FFA520;
$creem: #FFFAF1;
$black: #000;
$white: #fff;
$grey: #6F6C90;
$lightgrey: #F5F7FA;
$lightgrey2: #C0C4D7;
$universal: #acacac;
$sky: #1edbf8;
$purple: #7263d4;
$orange: #EE6307;
$success: #115B43;
$successLight: #F5FBF8;
$danger: #BB2020;
$transparent: rgba(0, 0, 0, 0.0);
